<mat-dialog-content class="mat-typography" style="background-color: #161b22;">
    <div style="display: flex; flex-direction: row; justify-content: space-around;" class="py-2 border border-light rounded p-2 mb-2">
        <label class="text-white">Reset Password</label>
    </div>
    <form [formGroup]="resetPasswordForm" class="border border-light rounded p-2 mb-2" style="background-color: #161b22;">
      <div class="form-group py-2">
        <label class="text-white" for="exampleInputEmail1">Reset Code</label>
        <input type="text" class="form-control" id="inputResetCode" placeholder="Reset Code" formControlName="resetCode">
      </div>
      <div class="form-group py-2">
        <label class="text-white" for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Email" formControlName="email">
      </div>
      <div class="form-group py-2">
        <label class="text-white" for="password">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
      </div>
      <div class="form-group py-2">
        <label class="text-white" for="passwordConfirmation">Password Confirmation</label>
        <input type="password" class="form-control" id="inputPasswordConfirmation" placeholder="Password Confirmation" formControlName="passwordConfirmation">
      </div>
      <div class="form-group py-1" style="display: flex; flex-direction: column;">
        <button type="submit" class="btn btn-secondary btn-block" (click)="resetPassword()">Save</button>
      </div>
    </form>
</mat-dialog-content>