<body class="bg-dark">
  <nav class="navbar navbar-expand-lg navbar-light position-sticky bg-dark text-white" >
    <a class="navbar-brand text-white" href="#">
      <i class="bi bi-house" style="margin-right: 0.5rem;"></i>
      Spam Guard
    </a>
    <div class="collapse navbar-collapse" style="justify-content:flex-end;" id="navbarSupportedContent">
      <form class="form-inline d-flex">
        <button class="btn" id="signin" style="margin-right: 1rem;" type="submit" (click)="openSignInModal()">Sign in</button>
        <button class="btn btn-outline-secondary text-white" type="submit" (click)="openSignUpModal()">Sign up</button>
      </form>
    </div>
  </nav>
  <div class="container bg-dark text-white position-relative">
    <div class="d-flex flex-column align-items-center">
      <div class="d-flex align-items-center flex-column">
        <div class="d-flex"style="padding-top: 7vh;">
          <div class="design d-flex flex-column" style="margin-left:5px"></div>
          <div class="d-flex flex-column justify-content-center">
            <section>
              <ul>
                <div style="padding-bottom: 2vh;">
                  <h1 style="font-size:60px;">Let's be  protected from here</h1>
                  <div class="d-flex flex-column">
                    <p style="color:darkgrey; font-size:30px;">Powerful Spam Detection for a Secure Inbox.</p>
                  </div>
                </div>
                <h3>
                  <span class="info">Accurate Spam Detection</span>
                  <p>
                    Our intelligent system accurately identifies and categorizes spam emails<br>
                    ensuring that your inbox remains clutter-free.
                  </p>
                </h3>
                <div class="d-flex flex-inline pt-3">
                  <div class="d-flex flex-column col-5">
                    <div class="input-group mb-2">
                      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Email address">
                    </div>
                  </div>
                  <div class="d-flex flex-column col-auto">
                    <button class="btn btn-outline-secondary text-white"  id="signup1" type="submit" (click)="openSignUpModal()">Sign up for SpamGuard</button>
                  </div>
                </div>
              </ul>
            </section>
          </div>
        </div>
        <div class="d-flex align-self-start">
          <i class="bi bi-code"></i>
        </div>
        <div class="d-flex py-2">
          <div class="design2 d-flex flex-column" style="margin-left: 5px;"></div>
          <div class="d-flex flex-column justify-content-center">
            <section>
              <ul>
                <h3>
                  <span class="info2">Real-Time Monitoring</span>
                  <p>
                    Experience the power of real-time email processing with live monitoring<br>
                    that keeps you informed about  the status of every email.
                  </p>
                </h3>
                <h3>
                  <span class="info2">Customizable Filters</span>
                  <p>
                    Tailor SpamGuard Pro to your preferences with customizable rules and <br>
                    filters allowing you to fine-tune the spam detection system<br>
                    according to your specific needs.
                  </p>
                </h3>
              </ul>
            </section>
          </div>
        </div>
        <div class="d-flex  py-2">
          <div class="design3 d-flex flex-column" style="margin-right: 5px;">
          </div>
          <div class="d-flex flex-column justify-content-center">
            <section>
              <ul>
                <h3>
                  <span class="info3">Why SpamGuard Pro?</span>
                  <p>
                    <strong>Enhanced Security<br></strong>
                    Protect your communication with a robust spam detection system<br>
                    that evolves with emerging threats.
                  </p>
                </h3>
                <h3>
                  <span class="info3">Easy Integration</span>
                  <p>
                    Seamlessly integrate SpamGuard Pro with your existing email<br>
                    clients for a hassle-free experience.
                  </p>
                </h3>
                <h3>
                  <span class="info3">User Feedback Integration</span>
                  <p>
                    Help us improve by providing feedback on false positives or false&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br> 
                    negatives contributing to continuous refinement.
                  </p>
                </h3>
                <p>Try SpamGuard Pro today and reclaim control over your inbox!</p>
                  <button class="btn btn-outline-secondary text-white" id="signup2" type="submit" style="margin-right: 10px;" (click)="openSignUpModal()">Get Started Now</button>
                  <button class="btn btn-outline-secondary text-white" type="submit">Learn More</button>
              </ul>
            </section>
          </div>
        </div>     
      </div>
    </div> 
  </div>
</body>
